<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>646940036207-op3qce4ccv1lf9uht8d5qfhd6ba56g9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.646940036207-op3qce4ccv1lf9uht8d5qfhd6ba56g9r</string>
	<key>API_KEY</key>
	<string>AIzaSyCAFWQ-T2LY1ICfGWujtAAoMxdmeIf1dT8</string>
	<key>GCM_SENDER_ID</key>
	<string>646940036207</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kingliam.BCPtest</string>
	<key>PROJECT_ID</key>
	<string>blindfoldchesspuzzles</string>
	<key>STORAGE_BUCKET</key>
	<string>blindfoldchesspuzzles.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646940036207:ios:5e9b055bd17dd9edad919a</string>
	<key>DATABASE_URL</key>
	<string>https://blindfoldchesspuzzles.firebaseio.com</string>
</dict>
</plist>